
$main-color: #0f5770;
$main-text-color: #595757;
$background-color: #e7e5db;




a {
  text-decoration: none;
}

.App {
  text-align: center;
  background-color: $background-color;
}



@mixin fullscreen-photo {
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.opening {
  @include fullscreen-photo();
  background-image: url(./img/opening.png);
  animation-name: opening-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes opening-animation {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.burger {
  background-image: url(./img/Group306.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 138px;
  padding-bottom: 30px;

  .logo {
    margin-left: 85px;
  }

  .menu {
    display: flex;

    margin-right: 50px;
    
    .menu-item {
      display: flex;
      direction: column;
      justify-content: center;
      align-items: center;

      margin-left: 40px;
      margin-right: 40px;

      color: $main-text-color;
      text-align: center;

      a {
        color: $main-text-color;
        //font-weight: 800;

        transition: all 0.5 linear ;
        transition-property: color, border-bottom, font-weight;
      }

      a:hover {
        color: $main-color;

        .ch {
          border-bottom: solid 4px $main-color;
          font-weight: bold;
        }
        .en {
          font-weight: 600;
        }
      }

      .active {
        color: $main-color;
        font-weight: 900;

        .ch {
          border-bottom: solid 2px $main-color;
        }
      }

      .ch {
        width: 163px;

        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;

        font-size: 24px;
        font-family: "GenWanMinTW-Regular" !important;
        font-weight: normal;
        
        border-bottom: solid 1px $main-text-color;
      }
  
      .en {
        margin-left: auto;
        margin-right: auto;

        font-size: 15px;
        font-family: "Copperplate-Light";
        white-space: nowrap;
      }
    }
  }
}

.second-menu {
  display: flex;
  align-items: center;

  height: 58px;

  font-size: 20px;
  font-family: 'GenWanMinTW-Light';
  color: $main-color;

  background-color: #FFFFFF;

  .menu-item {
    font-size: 24px;

    a {
      
      color: $main-color;
    }

    a:hover {
      font-family: 'GenWanMinTW-SemiBold';
    }

    .active {
      font-family: 'GenWanMinTW-SemiBold';
    }
  }

  .menu-item:not(:first-child):before {
    content: "";
    height: 24px;
    margin-left: 28px;
    margin-right: 28px;
    padding-bottom: 3;

    border-left: solid 1px $main-color;
  }

}
.about-menu {
  padding-left: 466px;
}
.value-menu {
  padding-left: 865px;
}
.management-menu {
  padding-left: 1468px;
}
.planning-menu {
  padding-left: 1263px;
}


.content {
  height: 1414px;
  width: 100vw;
  background-color: $background-color;
}



.modal .rodal-dialog{
  padding: 0px;
  box-shadow: none;
  background-color:rgba(0, 0, 0, 0);
}

/* 路由前进时的入场/离场动画 */
.forward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.forward-exit {
  opacity: 1;
  transform: translateX(0);
}

.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}

/* 路由后退时的入场/离场动画 */
.back-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.back-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.back-exit {
  opacity: 1;
  transform: translateX(0);
}

.back-exit-active {
  opacity: 0;
  transform: translate(100%);
  transition: all 500ms;
}

/* src/App2/index.css */
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}