$base-width: 1024px;
$base-height: 748px;
$main-color: #0f5770;
$main-text-color: #595757;
$background-color: rgba(239, 236, 227, 1);

$menu-item-color: #9FA0A0;


a {
  text-decoration: none;
}

.App {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;
  
  min-height: 100vh;

  background-color: $background-color;
}



@mixin fullscreen-photo {
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.opening {
  @include fullscreen-photo();
  background-image: url(./img/opening.webp);
  animation-name: opening-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes opening-animation {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 67px;
  //height: 100%;
  padding-bottom: 10px;

  .logo {
    margin-left: 42px;
  }

  .menu {
    display: flex;

    margin-right: 38px;
    
    .menu-item {
      display: flex;
      direction: column;
      justify-content: center;
      align-items: center;

      margin-left: 20px;

      color: $main-text-color;
      text-align: center;

      a {
        color: $main-text-color;

        transition: all 0.5 linear ;
        transition-property: color, border-bottom, font-weight;
      }

      .active {
        color: $main-color;

        .ch {
          border-bottom: solid 2px $main-color;
        }
      }

      .ch {
        width: 100px;

        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;

        
        font-family: "GenWanMinTW-Regular" !important;
        font-size: 14px;
        letter-spacing: 1px;
        
        border-bottom: solid 1px $main-text-color;
      }
  
      .en {
        margin-left: auto;
        margin-right: auto;

        font-size: 8px;
        font-family: "Copperplate-Light";
        white-space: nowrap;
      }
    }
  }
}

.second-menu {
  display: flex;
  align-items: center;

  height: 30px;

  font-family: 'GenWanMinTW-Medium';
  font-size: 12px;
  letter-spacing: 1px;
  color: $menu-item-color;


  background-color: #FFFFFF;

  .menu-item {
    a {
      color: $menu-item-color;
    }

    .active {
      color: $main-color;
      font-family: 'GenWanMinTW-SemiBold';
    }
  }

  .menu-item:not(:first-child):before {
    content: "";
    height: 12px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 1;
    border-left: solid 1px $main-color;
  }

}

/* 調整secondmenu的位置 */
.about-menu {
  padding-left: 388px;
}
.value-menu {
  padding-left: 430px;
}
.management-menu {
  padding-left: 744px;
}
.planning-menu {
  padding-left: 636px;
}

.content-image {
  width: 100%;
  height: auto;
}

.content {
  min-height: calc(100vh - 107px);
  width: 100vw;
  background-color: $background-color;
}

.team {
  display: flex;

  .team-button {
    &:nth-child(1) {
      .modal-button img { 
        width: 556px;
        border: 0;
        padding: 0;
        margin: 0;
      }
    }
    &:nth-child(2), &:nth-child(3) {
      .modal-button img { 
        width: 278px;
        border: 0;
        padding: 0;
        margin: 0;
      }
      
    }
  }
}

$feature-grid-width: 217px;
.feature {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFF;
  background-image: url(./img/feature/工種特色背景.png);
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: $feature-grid-width;
    margin-left: 50px;

    text-align: center;

    h1 {
      font-family: 'GenWanMinTW-SemiBold';
      font-size: 40px;
      letter-spacing: 10px;

      margin-top: 0;
      margin-bottom: 8px;
    }
    h2 {
      font-family: 'Copperplate-Light';
      font-size: 11px;

      margin: 0;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;

    width: $feature-grid-width*3;
    
    .button {
      box-sizing: border-box;
      width: 217px;
      height: 162px;

      $border-color: #EFECE4;

      .feature-button {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
        background: none;

        text-align: left;
        p {
          margin-left: 20px;
          color: #FFF;
          font-size: 21px;
          font-family: 'GenWanMinTW-SemiBold';
        }
      }

      &:nth-child(1) {
        border: 2px solid $border-color;
      }
      &:nth-child(2), &:nth-child(3) {
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
      &:nth-child(4) {
        border-left: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
      &:nth-child(5), &:nth-child(6) {
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }

      &:nth-child(2n+1) {
        background: rgba(11, 51, 65, 0.8);
      }
      &:nth-child(2n) {
        //background: rgba(173, 173, 174, 0.3);
        background: rgba(11, 51, 65, 0.3);
      }
    }
  }
}



.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $main-color;

  .title {
    margin-bottom: 17px;
    
    font-family: 'GenWanMinTW-SemiBold';
    font-size: 28px;
  }

  .subtitle {
    margin-bottom: 64px;

    font-family: 'GenWanMinTW-SemiBold';
    font-size: 23px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1000px;
    margin-bottom: 144px;
  }

  .subtitle2 {
    font-family: 'Copperplate-Light';
    font-size: 18px;
    letter-spacing: 15px;
  }
}

.modal-button {
  background: 0!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
}

.modal {
  .rodal-mask {
    background: rgba(0, 0, 0, 0.6);
  }
  .rodal-dialog {
    padding: 0px;
    box-shadow: none;
    background-color:rgba(0, 0, 0, 0);
  }

  img {
    width: 100%;
    height: 100%;
  }
}


.floor-plan {
  display: flex;

  //margin-top: 80px;
  //margin-left: 50px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 110px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;

    h1 {
      font-size: 26px;
      color: $main-color;
      font-family: "GenWanMinTW-SemiBold";
      letter-spacing: 1px;
  
      margin: 8px 0;
    }
    h2 {
      font-size: 14px;
      color: $main-color;
      font-family: "Copperplate-Light";
      margin: 0;
    }
  
  }

  
  table {
    border-collapse: collapse;
    text-align: center;

    margin-top: 60px;
  }

  table, td {
    border: 1px solid $main-color;
  }

  td {
    width: 45px;
    height: 45px;
  }
}

.floor-carousel {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 707px;
}

.carousel__slider {
  width: 800px;
  height: 707px;
}

.floor-card {
  display: flex;
  /*width: 800px;
  height: 648px;*/
}
.carousel__inner-slide {
  background-color: $background-color;
}
.carousel__inner-slide img {
  /*width: auto!important;
  height: auto!important;*/
}

.room .rodal-dialog{
  margin-top: 107px;
  margin-bottom: 0;
}

.dot {
  width: 100%;
  height: 100%;
  border: 0!important;
  background: rgba( 0, 0, 0, 0);

  color: $main-color;
  font-family: "Copperplate-Light";
  font-size: 16px;
}

.carousel__dot--selected {
  background: #FFF;
}

.carousel-status {
  visibility: hidden;
}

/* 路由前进时的入场/离场动画 */
.forward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.forward-exit {
  opacity: 1;
  transform: translateX(0);
}

.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}


/* 按鈕動畫 */
.room-button {
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

.spot {
  width: 45px;
  height: 45px;
  display: block;
  position: absolute; 
}
.spot:before, .spot:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background: #074063; 
}
.spot:after {
  opacity: 0.2;
  animation: sonar 2s linear 0s infinite; 
}
.spot:before {
  opacity: 0.2;
  animation: sonar 2s linear 1s infinite; 
}
.spot span {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background: #074063;
  border-radius: 50%;
  opacity: 0.2; 
}

.position-3A {
  top: 143px;
  right: 340px;
}
.position-3B {
  top: 143px;
  right: 432px;
}
.position-3C {
  top: 419px;
  right: 483px;
}


@keyframes sonar {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; 
  }
  70% {
    -webkit-transform: scale(2.8);
    opacity: 0.2; 
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0; 
  }
}

.invisible {
  display: none;
}

.online {
  position: absolute;
  top: 539px;
  left: 49px;
}

.page1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  //padding-top: 70px;
  height: calc(100vh - 107px);

  background-color: $main-color;

  .title {
    align-self: flex-start;

    width: 31px!important;
    height: 259px;

    margin-top: 70px;
    margin-left: 40px;
  }

  .south-west {
    margin-right: 40px;
  }
}

.next-button {
  display: block;

  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #ffffff;

  margin-right: 10px;
}

.prev-button {
  display: block;

  position: absolute;
  top: 423px;
  left: 10px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}


.life-map {
  .title {
    position: absolute;
    top: 128px;
    left: 47px;
    
    width: 193px;
    height: 48px;

  }
  .coffee-button {
    position: absolute;
    top: 193px;
    left: 49px;

    width: 143px;
    height: 484px;

    img {
      width: 100%;
    }
  }
  .shopping-button {
    position: absolute;
    top: 193px;
    left: 226px;

    width: 164px;
    height: 433px;

    img {
      width: 100%;  
    }
  }
  .food-button {
    position: absolute;
    top: 193px;
    left: 417px;
    
    width: 105px;
    height: 528px;

    img {
      width: 100%;
    }
  }
}

.all {
  background-image: url(./img/life_map/05.png);
  background-size: cover;
}
.coffee {
  background-image: url(./img/life_map/06.png);
  background-size: cover;

  .mdot:before, .mdot:after {
    border-color: RGBA(152, 101, 55, 1);
  }

}
.shopping {
  background-image: url(./img/life_map/07.png);
  background-size: cover;

  .mdot:before, .mdot:after {
    border-color: RGBA(29, 64, 105, 1);
  }
}
.food {
  background-image: url(./img/life_map/08.png);
  background-size: cover;

  .mdot:before, .mdot:after {
    border-color: RGBA(200, 56, 40, 1);
  }
}


.mdot {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute; 
}
.mdot:before, .mdot:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  border-width: 5px;
  border-style: solid;
}
.mdot:after {
  opacity: 0.2;
  animation: sonar2 2s linear 0s infinite; 
}
.mdot:before {
  opacity: 0.2;
  animation: sonar2 2s linear 1s infinite; 
}
.mdot span {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  border-radius: 50%;
  opacity: 0; 
}

@keyframes sonar2 {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; 
  }
  70% {
    -webkit-transform: scale(1.4);
    opacity: 0.4; 
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0; 
  }
}

.m-p1 {
  left: 783px;
  top: 357px;
}
.m-p2 {
  left: 956px;
  top: 610px;
}
.m-p3 {
  left: 725px;
  top: 632px;
}
.m-p4 {
  left: 759px;
  top: 427px;
}
.m-p5 {
  left: 783px;
  top: 323px;
}
.m-p6 {
  left: 700px;
  top: 451px;
}
.m-p7 {
  left: 882px;
  top: 407px;
}
.m-p8 {
  left: 846px;
  top: 455px;
}
.m-p9 {
  left: 786px;
  top: 287px;
}
.m-p10 {
  left: 749px;
  top: 405px;
}
.m-p11 {
  left: 884px;
  top: 382px;
}
.m-p12 {
  left: 790px;
  top: 682px;
}
.m-p13 {
  left: 768px;
  top: 573px;
}
.m-p14 {
  left: 877px;
  top: 457px;
}
.m-p15 {
  left: 873px;
  top: 280px;
}
.m-p16 {
  left: 749px;
  top: 254px;
}
.m-p17 {
  left: 763px;
  top: 310px;
}
.m-p18 {
  left: 765px;
  top: 541px;
}

.m-p19 {
  left: 759px;
  top: 373px;
}

.m-p20 {
  left: 781px;
  top: 414px;
}

.m-p21 {
  left: 749px;
  top: 184px;
}

.m-p22 {
  left: 868px;
  top: 403px;
}

.m-p23 {
  left: 830px;
  top: 423px;
}

.m-p24 {
  left: 877px;
  top: 443px;
}

.m-p25 {
  left: 891px;
  top: 495px;
}

.m-p26 {
  left: 908px;
  top: 495px;
}

.m-p27 {
  left: 719px;
  top: 445px;
}

.m-p28 {
  left: 679px;
  top: 442px;
}

.m-p29 {
  left: 959px;
  top: 366px;
}

.m-p30 {
  left: 959px;
  top: 379px;
}

.m-p31 {
  left: 663px;
  top: 542px;
}

.m-p32 {
  left: 768px;
  top: 357px;
}

.m-p33 {
  left: 989px;
  top: 573px;
}

.m-p34 {
  left: 847px;
  top: 216px;
}

.m-p35 {
  left: 830px;
  top: 392px;
}

.m-p36 {
  left: 647px;
  top: 555px;
}

.m-p37 {
  left: 898px;
  top: 392px;
}

.m-p38 {
  left: 861px;
  top: 431px;
}

.m-p39 {
  left: 861px;
  top: 456px;
}

.m-p40 {
  left: 726px;
  top: 427px;
}

.m-p41 {
  left: 898px;
  top: 542px;
}

.m-p42 {
  left: 693px;
  top: 345px;
}

.m-p43 {
  left: 756px;
  top: 442px;
}

.m-p44 {
  left: 763px;
  top: 273px;
}

.m-p45 {
  left: 731px;
  top: 253px;
}

.m-p46 {
  left: 786px;
  top: 231px;
}

.m-p47 {
  left: 731px;
  top: 231px;
}

.m-p48 {
  left: 749px;
  top: 231px;
}

.m-p49 {
  left: 917px;
  top: 227px;
}

.m-p50 {
  left: 778px;
  top: 445px;
}

.m-p51 {
  left: 965px;
  top: 295px;
}

.m-p52 {
  left: 922px;
  top: 273px;
}

.m-p55 {
  left: 1009px;
  top: 426px;
}

.m-p56 {
  left: 1029px;
  top: 448px;
}

.m-p57 {
  left: 941px;
  top: 561px;
}

.plan-desc {
  position: absolute;
  bottom: 10px;
  left: 50px;
  
  width: 1000px;

  font-size: 12px;
  color: $main-color;
  font-family: 'GenWanMinTW-Regular';
}