$base-width: 1024px;
$base-height: 748px;
$main-color: #0f5770;
$main-text-color: #595757;
$background-color: rgba(239, 236, 227, 1);

$menu-item-color: #9FA0A0;


a {
  text-decoration: none;
}

.App {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;
  
  min-height: 100vh;

  background-color: $background-color;
}



@mixin fullscreen-photo {
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.opening {
  @include fullscreen-photo();
  background-image: url(./img/opening.webp);
  animation-name: opening-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes opening-animation {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 67px;
  //height: 100%;
  padding-bottom: 10px;

  .logo {
    margin-left: 42px;
  }

  .menu {
    display: flex;

    margin-right: 38px;
    
    .menu-item {
      display: flex;
      direction: column;
      justify-content: center;
      align-items: center;

      margin-left: 20px;

      color: $main-text-color;
      text-align: center;

      a {
        color: $main-text-color;

        transition: all 0.5 linear ;
        transition-property: color, border-bottom, font-weight;
      }

      .active {
        color: $main-color;

        .ch {
          border-bottom: solid 2px $main-color;
        }
      }

      .ch {
        width: 100px;

        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;

        
        font-family: "GenWanMinTW-Regular" !important;
        font-size: 14px;
        letter-spacing: 1px;
        
        border-bottom: solid 1px $main-text-color;
      }
  
      .en {
        margin-left: auto;
        margin-right: auto;

        font-size: 8px;
        font-family: "Copperplate-Light";
        white-space: nowrap;
      }
    }
  }
}

.second-menu {
  display: flex;
  align-items: center;

  height: 30px;

  font-family: 'GenWanMinTW-Medium';
  font-size: 12px;
  letter-spacing: 1px;
  color: $menu-item-color;


  background-color: #FFFFFF;

  .menu-item {
    a {
      color: $menu-item-color;
    }

    .active {
      color: $main-color;
      font-family: 'GenWanMinTW-SemiBold';
    }
  }

  .menu-item:not(:first-child):before {
    content: "";
    height: 12px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 1;
    border-left: solid 1px $main-color;
  }

}

/* 調整secondmenu的位置 */
.about-menu {
  padding-left: 388px;
}
.value-menu {
  padding-left: 430px;
}
.management-menu {
  padding-left: 744px;
}
.planning-menu {
  padding-left: 636px;
}

.content-image {
  width: 100%;
  height: auto;
}

.content {
  min-height: calc(100vh - 107px);
  width: 100vw;
  background-color: $background-color;
}

.team {
  display: flex;

  .team-button {
    &:nth-child(1) {
      .modal-button img { 
        width: 556px;
        border: 0;
        padding: 0;
        margin: 0;
      }
    }
    &:nth-child(2), &:nth-child(3) {
      .modal-button img { 
        width: 278px;
        border: 0;
        padding: 0;
        margin: 0;
      }
      
    }
  }
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./img/feature/工種特色背景.png);
  background-size: cover;
  background-repeat: no-repeat;

  .buttons {
    display: flex;
    flex-wrap: wrap;

    width: 880px;
    color: #FFF;

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      width: 217px;
      border-bottom: 2px solid #EFECE4;

      h1 {
        font-family: 'GenWanMinTW-SemiBold';
        font-size: 40px;
        letter-spacing: 1px;

        margin-top: 0;
        margin-bottom: 8px;
      }
      h2 {
        font-family: 'Copperplate-Light';
        font-size: 11px;
        margin: 0;
      }
    }

    .deep {
      background: rgba(11, 51, 65, 1);
    }
    .light {
      background: rgba(173, 173, 174, 1);
    }

    .button {
      height: 162px;
      $border-color: #EFECE4;
      &:nth-child(1) {
        border: 2px solid $border-color;
      }
      &:nth-child(2), &:nth-child(3) {
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
      &:nth-child(5) {
        border-left: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
      &:nth-child(6), &:nth-child(7) {
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
      &:nth-child(8) {
        border-bottom: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
    }
    
  }
}

.feature-button {
  text-align: left;

  width: 217px;
  height: 162px;
  border: 0!important;
  padding: 0!important;

  p {
    margin-left: 20px;

    color: #FFF;
    font-size: 21px;
    font-family: 'GenWanMinTW-SemiBold';

  }
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $main-color;

  .title {
    margin-bottom: 17px;
    
    font-family: 'GenWanMinTW-SemiBold';
    font-size: 28px;
  }

  .subtitle {
    margin-bottom: 64px;

    font-family: 'GenWanMinTW-SemiBold';
    font-size: 23px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 1080px;
    margin-bottom: 144px;
  }

  .subtitle2 {
    font-family: 'Copperplate-Light';
    font-size: 18px;
    letter-spacing: 15px;
  }
}

.modal-button {
  background: 0!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
}

.modal {
  .rodal-mask {
    background: rgba(0, 0, 0, 0.6);
  }
  .rodal-dialog {
    padding: 0px;
    box-shadow: none;
    background-color:rgba(0, 0, 0, 0);
  }

  img {
    width: 100%;
    height: 100%;
  }
}


.floor-plan {
  display: flex;

  //margin-top: 80px;
  //margin-left: 50px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 110px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;

    h1 {
      font-size: 26px;
      color: $main-color;
      font-family: "GenWanMinTW-SemiBold";
      letter-spacing: 1px;
  
      margin: 8px 0;
    }
    h2 {
      font-size: 14px;
      color: $main-color;
      font-family: "Copperplate-Light";
      margin: 0;
    }
  
  }

  
  table {
    border-collapse: collapse;
    text-align: center;

    margin-top: 60px;
  }

  table, td {
    border: 1px solid $main-color;
  }

  td {
    width: 45px;
    height: 45px;
  }
}

.floor-carousel {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.carousel__slider {
  width: 800px;
}

.floor-card {
  display: flex;
  width: 800px;
  height: 648px;
}
.carousel__inner-slide {
  background-color: $background-color;
}
.carousel__inner-slide img {
  width: auto!important;
  height: auto!important;
  //height: 100%;
}

.room .rodal-dialog{
  margin-top: 107px;
  margin-bottom: 0;
}

.dot {
  width: 100%;
  height: 100%;
  border: 0!important;
  background: rgba( 0, 0, 0, 0);

  color: $main-color;
  font-family: "Copperplate-Light";
  font-size: 16px;
}

.carousel__dot--selected {
  background: #FFF;
}

.carousel-status {
  visibility: hidden;
}

/* 路由前进时的入场/离场动画 */
.forward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.forward-exit {
  opacity: 1;
  transform: translateX(0);
}

.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}


/* 按鈕動畫 */
.room-button {
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

.spot {
  width: 45px;
  height: 45px;
  display: block;
  position: absolute; 
}
.spot:before, .spot:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background: #074063; 
}
.spot:after {
  opacity: 0.2;
  animation: sonar 2s linear 0s infinite; 
}
.spot:before {
  opacity: 0.2;
  animation: sonar 2s linear 1s infinite; 
}
.spot span {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background: #074063;
  border-radius: 50%;
  opacity: 0.2; 
}
.position-2A {
  top: 118px;
  right: 373px;
}
.position-2B {
  top: 118px;
  right: 470px;
}
.position-3A {
  top: 106px;
  right: 360px;
}
.position-3B {
  top: 106px;
  right: 460px;
}
.position-3C {
  top: 406px;
  right: 515px;
}
.position-14A {
  top: 104px;
  right: 356px;
}
.position-14B {
  top: 104px;
  right: 456px;
}
.position-14C {
  top: 405px;
  right: 510px;
}
.position-15A {
  top: 126px;
  right: 355px;
}
.position-15B {
  top: 126px;
  right: 454px;
}
.position-15C {
  top: 405px;
  right: 509px;
}

@keyframes sonar {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; 
  }
  70% {
    -webkit-transform: scale(2.8);
    opacity: 0.2; 
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0; 
  }
}

.invisible {
  display: none;
}

.online {
  position: absolute;
  top: 539px;
  left: 49px;
}

.page1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  //padding-top: 70px;
  height: calc(100vh - 107px);

  background-color: $main-color;

  .title {
    align-self: flex-start;

    width: 31px!important;
    height: 259px;

    margin-top: 70px;
    margin-left: 40px;
  }

  .south-west {
    margin-right: 40px;
  }
}

.next-button {
  display: block;

  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #ffffff;

  margin-right: 10px;
}

.prev-button {
  display: block;

  position: absolute;
  top: 423px;
  left: 10px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}