body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GenWanMinTW-Light';
  src:
    url(./fonts/GenWanMin-L.ttc);
}

@font-face {
  font-family: 'GenWanMinTW-Regular';
  font-weight: normal;
  font-style: normal;
  src: 
    url(./fonts/GenWanMin-R.ttc);
}

@font-face {
  font-family: 'GenWanMinTW-Medium';
  src:
    url(./fonts/GenWanMin-M.ttc);
}

@font-face {
  font-family: 'GenWanMinTW-SemiBold';
  font-weight: normal;
  font-style: normal;
  src: 
    url(./fonts/GenWanMin-SB.ttc);
}

@font-face {
  font-family: 'Copperplate-Regular';
  font-weight: normal;
  font-style: normal;
  src: 
    url(./fonts/Copperplate.ttf);
}

@font-face {
  font-family: 'Copperplate-Light';
  font-weight: normal;
  font-style: normal;
  src:
    url(./fonts/Copperplate\ Light.ttf);
}